<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Space%20Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Spyfall</title>
</head>
    <body>
        <div id="title-container">
            <span id="title">Spyfall</span>
        </div>
        <div id="rules-container">
            <span id="rules-paragraph">
                One of you is not who they claim to be.
                Most players know the location.
                The spy does not.
                Through clever questions and sharp answers, uncover the spy before they uncover you.
                But beware—reveal too much, and the spy might strike first.
            </span>
        </div>
        <div class="button-container">
            <span class="button"><a href="/new">Create Room</a></span>
            <span class="button"><a href="/join">Join Room</a></span>
        </div>
    </body>
</html>