<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Space%20Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Spyfall</title>
</head>
    <body>
        <div class="text-input-container">
            <span>Enter Game Code:</span>
            <label>
                <input type="text" id="code-input">
            </label>
        </div>
        <div class="text-input-container">
            <span>Enter Name:</span>
            <label>
                <input type="text" id="name-input">
            </label>
        </div>
        <div class="button-container">
            <span class="button" id="join-room-btn">Join Room</span>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        document.getElementById("join-room-btn").addEventListener('click', async () => {
            const code = document.getElementById("code-input").value.trim();
            const name = document.getElementById("name-input").value.trim();

            const response = await fetch(`/rooms/join?name=${encodeURIComponent(name)}&code=${encodeURIComponent(code)}`);
            const data = await response.json();

            const room_code = data.code;
            if (room_code) {
                sessionStorage.setItem("name", name);
                window.location.href = `/rooms/${data.code}`;
            } else {
                console.error(data.error);
            }
        })
    </script>
</html>