<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Space%20Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Spyfall</title>
</head>
    <body>
        <div class="text-input-container">
            <span>Enter Game Code:</span>
            <label>
                <input type="text" id="code-input">
            </label>
        </div>
        <div class="text-input-container">
            <span>Enter Name:</span>
            <label>
                <input type="text" id="name-input">
            </label>
        </div>
        <div class="button-container">
            <span class="button" id="join-room-btn">Join Room</span>
        </div>
    </body>
    <script type="text/javascript" charset="utf-8">
        document.getElementById("join-room-btn").addEventListener('click', async () => {
            const code = document.getElementById("code-input").value.trim();
            const name = document.getElementById("name-input").value.trim();
            window.location.href = `/rooms/join?name=${encodeURIComponent(name)}&code=${encodeURIComponent(code)}`;
        })
    </script>
</html>