<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Space%20Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Spyfall</title>
</head>
    <body>
        <div class="heading-container code">
            <div id="game-code-container">
                <span id="game-code">{{ code }}</span>
                <img class="icon" src="../static/icons/copy.svg" alt="copy">
            </div>
        </div>

        <div class="role hidden">
            <span id="location">Location</span>
            <span id="occupation">Occupation</span>
        </div>

        <div class="section">
            <div class="heading-container">
                <span class="heading">Players</span>
                <img class="icon arrow" src="../static/icons/arrow-down.svg" alt="arrow-down">
            </div>
            <div class="grid-container" id="players-container"></div>
        </div>

        <div class="section">
            <div class="heading-container">
                <span class="title">Locations</span>
                <img class="icon arrow" src="../static/icons/arrow-down.svg" alt="arrow-down">
            </div>
            <div class="grid-container" id="locations-container"></div>
        </div>

        <span class="hidden" id="countdown"></span>

        {% if owner %}
        <div id="lobby-controls">
            <span class="control-label">Time:</span>
            <div class="control">
                <span class="control-element">-</span>
                <span class="value" id="time">08:00</span>
                <span class="control-element">+</span>
            </div>
        </div>
        <div class="button-container">
            <span class="button" id="start-game-btn">Start</span>
            <span class="button hidden" id="end-game-btn">End</span>
        </div>
        {% endif %}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        const name = "{{ name }}";
        const code = "{{ code }}";
        const owner = {{ owner|tojson }};
        const locations = {{ locations|tojson }};

        const socket = io();
        // On connection, notify room that you have connected
        socket.on("connect", () => {
            socket.emit("join_room", {
                name: name,
                room: code
            })
        });

        let num_players = 0;
        // when notified that a player has joined, update players list
        const playersContainer = document.getElementById("players-container");
        socket.on("player_joined", (data) => {
            playersContainer.innerHTML = '';
            data.players.forEach(player => {
                const cell = document.createElement('div');
                cell.style.display = 'flex';
                cell.style.justifyContent = 'space-between';
                cell.style.alignItems = 'center';

                const nameSpan = document.createElement('span');
                nameSpan.textContent = player;
                nameSpan.style.width = 'fit-content';

                const votesContainer = document.createElement('div');

                {#const vote = document.createElement('img');#}
                {#vote.className = "icon";#}
                {#vote.src = "../static/icons/spy.svg";#}
                {#vote.alt = "spy";#}
                {#votesContainer.appendChild(vote);#}

                cell.appendChild(nameSpan);
                cell.appendChild(votesContainer);
                playersContainer.appendChild(cell);
            })
            num_players = data.players.length;
        });

        // Display locations
        const locationsContainer = document.getElementById("locations-container");
        locations.forEach(location => {
            const locationSpan = document.createElement('span');
            locationSpan.textContent = location;
            locationsContainer.appendChild(locationSpan);
        });

        // owner controls
        if (owner) {
            const startGameBtn = document.getElementById("start-game-btn");
            const timeValueEl = document.getElementById("time");
            const timeControl = timeValueEl.closest(".control");
            const timeMinus = timeControl.querySelectorAll(".control-element")[0];
            const timePlus = timeControl.querySelectorAll(".control-element")[1];
            const endGameBtn = document.getElementById("end-game-btn");

            timeMinus.addEventListener("click", () => {
                let currDurationSeconds = totalSeconds(timeValueEl.textContent);
                if (currDurationSeconds - 30 >= (6*60)) {
                    currDurationSeconds -= 30;
                }
                timeValueEl.textContent = mmss(currDurationSeconds);
            });

            timePlus.addEventListener("click", () => {
               let currDurationSeconds = totalSeconds(timeValueEl.textContent);
               if (currDurationSeconds + 30 <= (12*60)) {
                   currDurationSeconds += 30;
               }
               timeValueEl.textContent = mmss(currDurationSeconds);
            });

            startGameBtn.addEventListener("click", async () => {
                if (num_players < 3) {
                    return;
                }
                // info to provide: code, duration
                const duration = totalSeconds(timeValueEl.textContent);
                const response = await fetch(`/rooms/${name}&${code}/start?duration=${duration}`);
                const data = await response.json();
                console.log(data.message);
            });

            endGameBtn.addEventListener("click", async () => {
                const response = await fetch(`/rooms/${name}&${code}/end`);
                const data = await response.json();
                console.log(data.message);
            });
        }

        const locationEl = document.getElementById("location");
        const occupationEl = document.getElementById("occupation");
        socket.on("game_started", (data) => {
            // Each player should get an individualized message containing location and occupation (or SPY)
            // Duration
            // Players?
            console.log("game has been started by owner");
            console.log(data.result);

            locationEl.textContent = data.result.location;
            occupationEl.textContent = data.result.occupation;
            switchView("game");
            startCountdown(data.duration);
        });

        socket.on("game_ended", () => {
            console.log("game has been ended by owner");
            clearCountdown();
            countdownEl.textContent = "";
            switchView("lobby");
        })

        // vote socket.emit

        // timer countdown based on duration received

        // Switch views
        function switchView(view) {
            // Lobby items
            const headingCode = document.querySelector(".heading-container.code");
            const lobbyControls = document.getElementById("lobby-controls");
            const startGameBtn = document.getElementById("start-game-btn");

            // Game items
            const headingRole = document.querySelector(".role");
            const countdownTimer = document.getElementById("countdown");
            const endGameBtn = document.getElementById("end-game-btn");


            if (view === 'lobby') {
                headingCode?.classList.remove("hidden");
                lobbyControls?.classList.remove("hidden");
                startGameBtn?.classList.remove("hidden");

                headingRole?.classList.add("hidden");
                countdownTimer?.classList.add("hidden");
                endGameBtn?.classList.add("hidden");
            }
            else {
                headingRole?.classList.remove("hidden");
                countdownTimer?.classList.remove("hidden");
                endGameBtn?.classList.remove("hidden");

                headingCode?.classList.add("hidden");
                lobbyControls?.classList.add("hidden");
                startGameBtn?.classList.add("hidden");
            }
        }

        let countdownInterval = null;
        const countdownEl = document.getElementById("countdown");

        function clearCountdown() {
            if (countdownInterval !== null) {
                clearInterval(countdownInterval);
                countdownInterval = null;
            }
        }

        function startCountdown(duration) {
            countdownInterval = setInterval(() => {
              if (duration <= 0) {
                clearCountdown();
                countdownEl.textContent = "00:00";
                return;
              }

              duration--;
              countdownEl.textContent = mmss(duration);
              }, 1000);
        }

        // Utility functions
        function mmss(totalSeconds) {
          const m = Math.floor(totalSeconds / 60);
          const s = totalSeconds % 60;
          return `${String(m).padStart(2, "0")}:${String(s).padStart(2, "0")}`;
        }

        function totalSeconds(mmss) {
            const m = /^(\d+):([0-5]?\d)$/.exec(mmss.trim());
            if (!m) throw new Error('Invalid time format. Use "MM:SS" (e.g., "08:00").');
            const minutes = parseInt(m[1], 10);
            const seconds = parseInt(m[2], 10);
            return minutes * 60 + seconds;
        }``
    </script>
</html>